[is=unclean-token] {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
}
.prototype {
    top: 100%;
    left: 0px;
    position: sticky;
}
#tabletop {
    position: fixed;
    background-color: green;
    width: 1280px;
    height: 800px;
}


.attributes span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}
.attributes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}
