[is=unclean-token], .prototype {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: darkslategray;
    color: white;
    border-color: darkcyan;
    border-width: 3px;
    border-style: ridge;
    padding: 3px;
}
.token-prototypes {
    top: 100%;
    left: 0px;
    position: sticky;
    width: 400px;
    height: 112px;
    display: flex;
}
.prototype {
    position: static;
}
#tabletop {
    position: fixed;
    background-color: green;
    width: 1280px;
    height: 800px;
}

body {
    background-color: darkseagreen;
}
