[is=unclean-token], .prototype {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: darkslategray;
    color: white;
    border-color: darkcyan;
    border-width: 3px;
    border-style: ridge;
    padding: 3px;
}
.token-prototypes {
    top: 100%;
    left: 0px;
    position: sticky;
    width: 400px;
    height: 112px;
    display: flex;
}
.prototype {
    position: static;
}
#tabletop {
    position: static;
    background-color: green;
    width: 1280px;
    height: 800px;
}
#tabletop-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.drawer {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    border-style: inset;
    margin: 5px;
    padding: 30px;
    background-color: burlywood;
    background: url("/img/opengameart-wood2.jpg");
    border-color: brown;
    border-width: 0.5em;
}

body {
    background-color: darkseagreen;
}
